// Variables
$cabin: Cabin, sans-serif;
$white: #fff;
$black: #000;
$grey: rgb(160,160,160);
$blue: rgb(2,122,180);
$darkblue: rgb(2,35,100);
$green: #00985a;
$darkgreen: #004f2f;
$shadowgrey: rgba(60,60,60,0.5);


// Global CSS
* {
	font-family: $cabin;
}

@mixin box-shadow(){
	-webkit-box-shadow: 2px 2px 5px 2px $shadowgrey;
	-moz-box-shadow: 2px 2px 5px 2px $shadowgrey;
	box-shadow: 2px 2px 5px 2px $shadowgrey;
}

button.list-button {
	background: $blue;
	border: none;
	color: $white;
	font-size: 15px;
	&:hover {
		background: $green;
	}
}

a {
	text-decoration: none;
}

div.brokenImage {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border: 1px solid $blue;
	color: $blue;
	font-size: 15px;
	text-align: center;
	overflow: hidden;
	h2 {
		margin: auto;
	}
	h2.brokenImage__title {
		margin: auto;
		background: none;
		color: $green;
	}
}


// Colours & Typography
#header-wrapper {
	background: $white;
}

header {
	background: $white;
	h1.title {
		background: $blue;
		color: $white;
		font-size: 50px;
		text-decoration: overline;
	}
	a {
		color: $blue;
	}
}

ul.user-options {
	list-style-type: none;
	li {
		background: $blue;
		a {
			color: $white;
		}
	}
	li.welcome {
		background: $white;
		color: $blue;
		span.user {
			color: $green;
		}
	}
	li #logout-button {
		background: none;
		border: none;
		color: $white;
		transition: all 0.2s;
	}
}

form.user-form {
	@include box-shadow();
	background: $blue;
	h2.user-form__header {
		background: $white;
		color: $green;
		font-size: 30px;
	}
	label {
		color: $white;
	}
	button {
		color: $white;
		background: $green;
		&:hover {
			border: 2px outset $darkgreen;
		}
	}
}

form#search-form {
	input {
		background: $white;
		color: $grey;
	}
	input[type=submit] {
		background: $blue;
		border: none;
		color: $white;
	}
	span.or {
		color: $grey;
		font-style: italic;
		text-decoration: underline;
		// transform: translateY(10%);
	}
}

div.movie-catalogue__movie img {
	@include box-shadow();
}

div#no-results {
	font-size: 20px;
	font-style: italic;
	p {
		color: $grey;
	}
}

div.movie-single__poster {
	h2 {
		background: $green;
		// box-shadow: 0 1px 2px 0 $darkgreen;
		color: $white;
	}
	span.bold-details {
		font-size: 18px;
		color: $green;
	}
	img {
		@include box-shadow();
	}

}

div#list-wrapper {
	@include box-shadow();
	background: $white;
	h2.list-header{
		background: $blue;
		color: $white;
		font-size: 20px;
	}
	ul.user-list {
		background: $white;
		color: $green;
		li.doc-item {
			border-top: 1px dotted $grey;
		}
	}
}

footer {
	p {
		background: $green;
		color: $darkgreen;
		font-size: 20px;
		a {
			color: $darkgreen;
			text-decoration: underline;
			transition: all .5s;
			&:hover {
				color:$white;
				text-decoration: none;
			}
		}
	}
}