// Partials
@import "partials/setup";
@import "partials/typography";


// Variables



// Layout & Positioning
div {
	h1 {
		display: flex;
		margin: 5px;
		padding: 20px;
		transform: scale(.8);
	}
}